# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# env files (can opt-in for commiting if needed)
.env
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
